<div
  class="container d-flex flex-column justify-content-center align-items-center text-center mt-4"
>
  <h1 class="mb-4">AI RPS Game</h1>

  <app-instructions></app-instructions>

  <div
    class="video-container mb-4"
    style="
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <video
      #webcam
      autoplay
      playsinline
      class="img-fluid"
      style="max-width: 70%; height: auto"
    ></video>
  </div>
</div>
